// Zawartość .gitignore

packages/

.vs/

Sklep_komputerowy/bin/

Sklep_komputerowy/obj/

Sklep_komputerowy/Sklep_komputerowy.csproj.user

.config/

Sklep_komputerowy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Sklep_komputerowy/obj/Debug/Sklep_komputerowy.csproj.CoreCompileInputs.cache
